{% extends 'admin/base.html.twig' %}

{% block title %}Hello 
{% endblock %}

{% block body %}
	<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{path('typelogement.list')}}">listes types de logements</a></li>
                    <li class="breadcrumb-item active">Ajouter médicamanents</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <span class="breadcrumb float-sm-right">
                    <a href="{{path('typelogement.list')}}" class="float-right btn btn-primary">Retour</a>
                </span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
	<!-- Horizontal Form -->
	<div class="card card-info">
		<div class="card-header">
			<h3 class="card-title">Ajouter nouveaux types de logement</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<div class="card-body">
			{% include "admin/typelogement/form/_form.html.twig" %}
		</div>
	</div>
	<!-- /.card -->
{% endblock %}
{% block javascripts %}
	{{ include('admin/components/block/blockjs.datatable.html.twig', { 'table_id': 'listPositions', 'targets': 4 }) }}
{% endblock %}
